name: deploy_static_website

on: 
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: azure/login@v1
        with:
          creds: ${{secrets.AZURE_CREDENTIALS}}
          
      - name: upload to blob storage
        uses: azure/CLI@v1
        with:              
          inlineScript: |
            az storage blob upload-batch --account-name krisstore298734 --account-key ${{secrets.AZURE_STORAGE_KEY}} --auth-mode key --overwrite -d '$web' -s .
      - name: logout
        run: |
            az logout
        if: always()
